body { 
  font-family: sans-serif; 
  text-align: center; 
  background: #8a8acd; 
  padding-top: 50px; 
}
.container { 
  background: rgb(153, 129, 239); 
  padding: 30px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  display: inline-block; 
}
.idea-box { 
  margin: 27px 0; 
  padding: 15px; 
  border: 2px dashed #333; 
  font-weight: bold; 
}
button { 
  background: #007bff; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
}
button:hover { 
  background: #00aab3; 
}